{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.author) }}
    {{ form_row(form.pages) }}
    {{ form_row(form.price) }}

    <button type="submit">Save!</button>
    {{ form_end(form) }}
{% endblock %}