{% extends 'base.html.twig' %}
{% block stylesheets %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% if user != null %}
        <div class="page-header">
            <p>Hello {{ user.username }}</p>
            <ul class="nav nav-pills">
                <li role="presentation"><a href="{{ path('insert')}}">Add Book</a></li>
                <li role="presentation"><a href="{{ path('fos_user_security_logout')}}">Log out</a></li>
            </ul>
        </div>
    {% else %}
    <ul class="nav nav-pills">
        <li role="presentation"> <a  href="{{ path('login')}}">LOGIN</a></li>
    </ul>
    {% endif %}
    <div class="row">
        {% for b in books %}
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ b.id }}</div>
                    <div class="panel-body">
                        <p>Name:  {{ b.name }}</p>
                        <p>Author:  {{ b.author }}</p>
                        <p>Pages:  {{ b.pages }}</p>
                        <p>Price:  {{ b.price }}</p>
                        <p>Date:  {{ b.dateCreated|date('Y-m-d') }}</p>
                        {%  if user != null %}
                            <a href={{ path('edit', {'id': b.id}) }}>Edit Book</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
     </div>
    {% if maxPages > 1 %}
    <ul class="pagination">
        {%if thisPage > 1 %}
            <li >
                <a href="{{ path('home', {currentPage: thisPage|number_format -1 < 1 ? 1 :  thisPage|number_format-1}) }}">«</a>
            </li>
        {% endif %}

        {%if thisPage > 1 %}
        {# Render each page number #}
        {% for i in 1..maxPages %}
            {% if i == thisPage|number_format %}
                <li class="active"><a href="{{ path('home', {currentPage: i}) }}">{{ i }}</a></li>
           {% else %}
            <li>
                <a href="{{ path('home', {currentPage: i}) }}">{{ i }}</a>
            </li>
            {% endif %}
        {% endfor %}
        {% endif %}

        {# `»` arrow #}
        {%if thisPage < maxPages %}
            <li>
                <a href="{{ path('home', {currentPage:  thisPage|number_format+1 <= maxPages ?  thisPage|number_format+1 :  thisPage|number_format}) }}">»</a>
            </li>
        {% endif %}
        </li>
    </ul>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
{% endblock %}